/* Global Style */
body {
  background-color: white;
  font-family: 'Germania One', sans-serif;
  text-align: center;
  font-size: 150%;
}
h1, h2 {
    margin: 0;
}

h1 {
  font-size: 300%;
  letter-spacing: 5px;
}

/* Heading */
header, .score-section {
  background-color: #8A2F24;
  color: #FFFFFF;
  padding: 0.5%;
}

/* Game Section */
.game-section {
  background-color: #EBD2B6;
  padding: 0;
  border: 10px solid #8A2F24;
}

.game-section h2 {
  font-size: 250%;
}

.used-skills {
  display: inline-block;
}

#hidden {
  visibility: hidden;
}

.vs{
  background-image: url(../images/vs.png);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
}

#player, #opponent, #clash, #countdown {
  visibility: hidden;
}

/* Countdown */
#countdown {
  margin-top: 1%;
  font-size: 600%;
}

/* Animation */
.anima-section {
  margin-top: 0.5%;
  height: 450px;
  background-color: #e1ebb6;
  background-image: url(../images/castle-bg3.webp);
  background-position: center;
}

.stage {
  margin-top: 100px;
  display: inline-flex;
  position: relative;
}

#player {
  height: 225px;
  width: 359px;
  background-image: url(../images/yellow_knight.gif);
  position: absolute;
}

#opponent {
  height: 225px;
  width: 360px;
  background-image: url(../images/blue_knight.gif);
  position: absolute;
  }

#clash {
  height: 200px;
  width: 178px;
  background-image: url(../images/crash.webp);
  position: relative;
  z-index: 2;

  animation-name: clash-zoom;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes clash-zoom {
  from{
      transform: scale(1);
  }
  to{
      transform: scale(1.8);
  }
}

/* Buttons */
.btn {
  margin: 0.25%;
  cursor: pointer;
}

.btn:active {
  outline: none !important;
}

.btn:focus {
  outline: none;
}

.btn--start{
  width: 109px;
  height: 50px;
  letter-spacing: 1.2px;
  text-align: center;
  font-size: 200%;
  background-color: #F2F2F2;
  padding: 0;
  border-top: 8px solid #CCCCCC;
  border-left: 8px solid #CCCCCC;
  border-bottom: 8px solid #888888;
  border-right: 8px solid #888888;
  }

.btn--start:active {
  letter-spacing: 1.1px;
  font-size: 175%;
  background-color: #DDDDDD;
  border-top: 8px solid #888888;
  border-left: 8px solid #888888;
  border-bottom: 8px solid #CCCCCC;
  border-right: 8px solid #CCCCCC;
}

.btn--big, .btn--skill, .vs{
  width: 200px;
  height: 200px;
  padding: 0.5%;
}

.btn--big, .btn--skill {
  border-radius: 50%;
  border: 10px solid #8A2F24;
  background-color: #F2F2F2;
}

.btn--big:hover {
  background-color: #DDDDDD;
  transition-duration: 0.8s;
}

.btn--big:focus {
  background-color: #CCCCCC;
}

.btn--shield {
  background-image: url(../images/shield.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn--shield:active {
  background-image: url(../images/shield.png);
}

.btn--lance {
  background-image: url(../images/lance.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn--lance:active {
  background-image: url(../images/lance.png);
}

.btn--ride {
  background-image: url(../images/horse.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn--ride:active {
  background-image: url(../images/horse.png);
}
/* Score Section */
