/* Global Style */
body {
  background-color: white;
  font-family: 'Germania One', sans-serif;
  text-align: center;
  font-size: 150%;
}
h1, h2 {
    margin: 0;
}

h1 {
  font-size: 300%;
  letter-spacing: 5px;
}

/* Heading */
header, .score-section {
  background-color: #8A2F24;
  color: #FFFFFF;
  padding: 0.5%;
}



/* Game Section */
.game-section {
  background-color: #EBD2B6;
  padding: 1% 0%;
  border: 10px solid #8A2F24;
}

.game-section h2 {
  font-size: 250%;
}

.used-skills {
  display: inline-block;
}

#hidden {
  visibility: hidden;
}

.vs{
  background-image: url(../images/vs.png);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Countdown */
#countdown {
  margin-top: 1%;
  font-size: 600%;
}

/* Animation */
.anima-section {
  margin-top: 0.5%;
  height: 250px;
  background-color: #e1ebb6;
}

/* Buttons */
.btn {
  margin: 1%;
}

.btn--start{
  letter-spacing: 1.2px;
  font-size: 250%;
  background-color: #F2F2F2;
  border-left: 6px solid #DDDDDD;
  border-top: 6px solid #DDDDDD;
  border-right: 6px solid #888888;
  border-bottom: 6px solid #888888;
  padding-top: 0%;
  padding-bottom: 0%;
}

.btn--big, .vs{
  width: 200px;
  height: 200px;
  padding: 0.5%;
}

.btn--big {
  border-radius: 50%;
  border: 10px solid #8A2F24;
  background-color: #F2F2F2;
}

.btn--shield {
  background-image: url(../images/shield.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn--lance {
  background-image: url(../images/lance.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn--ride {
  background-image: url(../images/horse.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}
/* Score Section */
