/* Global Style */
body {
  background-color: white;
  font-family: 'Germania One', sans-serif;
  text-align: center;
  font-size: 150%;
}
h1, h2 {
    margin: 0;
}

h1 {
  font-size: 300%;
  letter-spacing: 5px;
}

/* Heading */
header, .score-section {
  background-color: #8A2F24;
  color: #FFFFFF;
  padding: 0.5%;
}



/* Game Section */
.game-section {
  background-color: #EBD2B6;
  padding: 1% 0%;
  border: 10px solid #8A2F24;
}

.game-section h2 {
  font-size: 250%;
}

.used-skills {
  display: inline-block;
}

#hidden {
  visibility: hidden;
}

.vs{
  background-image: url(../images/vs.png);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Countdown */
#countdown {
  margin-top: 1%;
  font-size: 600%;
}

/* Animation */
.anima-section {
  margin-top: 0.5%;
  height: 450px;
  background-color: #e1ebb6;
  background-image: url(../images/castle-bg3.webp);
  background-position: center;
}

.stage {
  margin-top: 100px;
  display: inline-flex;
}

#player {
  height: 225px;
  width: 359px;
  background-image: url(../images/yellow_knight.gif);
  position: relative;
  right: 90%;
  animation: playermove 5s;
}

@keyframes playermove {
  from {right: 90%;}
  to {right: 0%;}
}

#opponent {
  height: 225px;
  width: 360px;
  background-image: url(../images/blue_knight.gif);
  position: relative;
  left: 90%;
  animation: oppmove 5s;
}

@keyframes oppmove {
  from {left: 90%;}
  to {left: 0%;}
}

#clash {
  height: 200px;
  width: 178px;
  background-image: url(../images/crash.webp);
}

/* Buttons */
.btn {
  margin: 1% 1% 0 1%;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn--start{
  width: 109px;
  height: 50px;
  text-align: center;
  letter-spacing: 1.2px;
  font-size: 250%;
  background-color: #F2F2F2;
  padding-top: 0%;
  padding-bottom: 0%;
  }

.btn--start:active {
  letter-spacing: 1.1px;
  font-size: 225%;
  background-color: #DDDDDD;
}

.btn--big, .btn--skill, .vs{
  width: 200px;
  height: 200px;
  padding: 0.5%;
}

.btn--big, .btn--skill {
  border-radius: 50%;
  border: 10px solid #8A2F24;
  background-color: #F2F2F2;
}

.btn--big:hover {
  background-color: #DDDDDD;
  transition-duration: 0.4s;
}

.btn--big:focus {
  outline: none;
  background-color: #CCCCCC;
}

.btn--shield {
  background-image: url(../images/shield.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn--lance {
  background-image: url(../images/lance.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn--ride {
  background-image: url(../images/horse.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}
/* Score Section */
